* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white
}
body {
    background-image: url("images/home-background/bg1.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}