* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
}
body {
    background-color: #003056;
    background-image: url("images/bg1.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
/* @keyframes grow {
    0%   {font-size: 0px;}
    25%  {font-size: 0px;}
    50%  {font-size: 0px;}
    100% {font-size: 10vw;}
} */
@keyframes appear {
    0%   {opacity: 0;}
    25%  {opacity: 0;}
    50%  {opacity: 0;}
    100% {opacity: 1;}
}
#hero {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#projects, #skills, #links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: appear;
    animation-duration: 2s;
    margin-bottom: 100px;
}
#links {
    margin-bottom: 2rem;
}
h1 {
    font-size: 10vw;
    position: relative;
    text-align: end;
    animation: grow;
    animation-duration: 3s;
}
h3 {
    margin: 2rem;
    margin-left: 20%;
    align-self: flex-start;
}
h4{
    margin: 1rem;
}
h5 {
    margin: 1rem;
    padding: .5rem;
    font-weight: bold;
    background-color: black;
    border-radius: 5px;
}
a {
    text-decoration: underline;
}
li {
    list-style: none;
}
#project-list {
    display: flex;
    flex-wrap: wrap;
}
.project {
    height: 20vh;
    width: 20vw;
    min-width: 150px;
    margin: 1rem;
    border: solid 1px white;
    border-radius: 10px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.project:hover {
    box-shadow: 0px 0px 10px white;
}
#golf-score {
    background-image: url("images/golf-app.png");
}
#to-do {
    background-image: url("images/to-do.png");
}
#cryptohs {
    background-image: url("images/cryptohs.png");
}
#dj-courses {
    background-image: url("images/dj-courses.png");
}
.skill-list {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    background-color: #f8716b;
    border-radius: 0.75rem;
    width: 75%;
}
.skill-list p {
    font-size: x-large;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon {
    height: 50px;
    width: 50px;
    margin: 1rem;
    background-repeat: no-repeat;
    display: inline-block;
}
#html {
    background-image: url("images/icons/html.svg");
}
#css {
    background-image: url("images/icons/css.svg");
}
#javascript {
    background-image: url("images/icons/javascript.svg");
}
#tailwindcss {
    background-image: url("images/icons/tailwindcss.svg");
}
#node-js {
    border-radius: 0.25rem;
    background-color: white;
    background-image: url("images/icons/nodejs.svg");
}
#express {
    border-radius: 0.25rem;
    background-color: white;
    background-image: url("images/icons/express-js.svg");
}
#react {
    background-image: url("images/icons/react-js.svg");
}
#next-js {
    border-radius: 0.25rem;
    background-color: white;
    background-image: url("images/icons/nextjs.svg");
}
#vite {
    background-image: url("images/icons/vite.svg");
}
#postgresql {
    background-image: url("images/icons/postgresql.svg");
}
#mongodb {
    background-image: url("images/icons/mongodb.svg");
}
#python {
    background-image: url("images/icons/python.svg");
}
#github {
    background-image: url("images/icons/github.svg");
}
#linkedin {
    background-image: url("images/icons/linkedin.svg");
}
.link-list {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    border-radius: 0.75rem;
}
.link-list a {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}